<footer>
    <section>
        <div class="container">
            <div class="head">
                <h2>Contact</h2>
                <div class="underline">
                    <div></div>
                    <div></div>
                    <div></div>
                </div>
            </div>
            <div class="infos">
                <div class="row">
                    <div class="info">
                        <span>M</span>
                        <span>hello@petarainsoft.vn</span>
                    </div>
                    <div class="info">
                        <span>T</span>
                        <span>+84 123 789 456</span>
                    </div>
                </div>
                <div class="row">
                    <div class="info">
                        <span>W</span>
                        <span>09:00 ~ 18:00, Monday - Friday</span>
                    </div>
                    <div class="info">
                        <span>A</span>
                        <span>A.00-08, 2nd Floor, Tower A Sarina, Street B2, An Loi Dong Ward, District 2, Ho Chi Minh
                            City</span>
                    </div>
                </div>
            </div>

        </div>
    </section>
    <section>
        <div class="container">
            <p>Copyrights © 2024  Petarainsoft Corps.</p>
        </div>
    </section>

</footer>