$global: (
    primary: #0050F1,
    badge: #FF3737,
    red: #FF3844,
    brown: #BA8566,
    aqua: #38B8FF,
    violet: #9F10E3,
    amber: #FFA620,
    green: #09C068,
    pink: #FD0BF3,
    blue: #3014FF,
    support-chart-1: #FDD000,
    support-chart-2: #A4D837,
    support-chart-3: #23E37C,
    support-chart-4: #1BE5D9,
    support-chart-5: #06C3FF,
    support-chart-6: #2073F6,
    support-chart-7: #5015F8,
    support-chart-8: #7512E2,
    support-chart-9: #DA00FD,
    support-chart-10: #FD00A7,
    support-chart-11: #FF862D,
    support-chart-12: #EBEBEB,
    support-chart-13: #6C40E9,
    support-chart-14: #58D792,
    support-schedule-1: #51CCE1,
    support-schedule-2: #7642E4,
    support-schedule-3: #FF4672,
    support-sign-1: #FDA700,
    support-sign-2: #41DA34,
    support-sign-3: #27DAE5,
    support-sign-4: #0528E1,
    support-sign-5: #952AFF,
    support-sign-6: #FF365A,
);

$light-theme: (
    primary: #0050F1,
    on-primary: #FFFFFF,
    primary-container: #F5F7FC,
    on-primary-container: #0036A7,
    secondary: #475AA1,
    on-secondary: #FFFFFF,
    secondary-container: #F8F8FB,
    on-secondary-container: #405191,
    tertiary: #7D009D,
    on-tertiary: #FFFFFF,
    tertiary-container: #FAF5FB,
    on-tertiary-container: #71008D,
    error: #BA1A1A,
    on-error: #FFFFFF,
    error-container: #FFDAD6,
    on-error-container: #93000A,
    background: #FFFFFF,
    on-background: #292929,
    surface: #FFFFFF,
    on-surface: #121C44,
    surface-variant: #F9F9FD,
    on-surface-variant: #8892A7,
    outline: #CCCCCC,
    outline-variant: #E5E5E5,
    inverse-surface: #292929,
    inverse-on-surface: #F0F0FD,
    inverse-primary: #0050F1,
    primary-fixed: #0050F1,
    on-primary-fixed: #FFFFFF,
    primary-opacity-008: rgba(0, 60, 186, 0.08),
    primary-opacity-012: rgba(96, 86, 144, 0.12),
    primary-opacity-016: rgba(0, 60, 186, 0.16),
    primary-opacity-010: rgba(0, 60, 186, 0.1),
    onPrimary-opacity-008: rgba(255, 255, 255, 0.08),
    onPrimary-opacity-012: rgba(255, 255, 255, 0.12),
    onPrimary-opacity-016: rgba(255, 255, 255, 0.16),
    onPrimary-opacity-010: rgba(255, 255, 255, 0.1),
    primaryContainer-opacity-008: rgba(0, 80, 241, 0.08),
    primaryContainer-opacity-012: rgba(230, 222, 255, 0.12),
    primaryContainer-opacity-016: rgba(0, 80, 241, 0.16),
    primaryContainer-opacity-010: rgba(0, 80, 241, 0.1),
    onPrimaryContainer-opacity-008: rgba(214, 220, 255, 0.08),
    onPrimaryContainer-opacity-012: rgba(28, 17, 73, 0.12),
    onPrimaryContainer-opacity-016: rgba(214, 220, 255, 0.16),
    onPrimaryContainer-opacity-010: rgba(214, 220, 255, 0.1),
    secondary-opacity-008: rgba(71, 90, 161, 0.08),
    secondary-opacity-012: rgba(96, 92, 113, 0.12),
    secondary-opacity-016: rgba(71, 90, 161, 0.16),
    secondary-opacity-010: rgba(71, 90, 161, 0.1),
    onSecondary-opacity-008: rgba(255, 255, 255, 0.08),
    onSecondary-opacity-012: rgba(255, 255, 255, 0.12),
    onSecondary-opacity-016: rgba(255, 255, 255, 0.16),
    onSecondary-opacity-010: rgba(255, 255, 255, 0.1),
    secondaryContainer-opacity-008: rgba(156, 176, 253, 0.08),
    secondaryContainer-opacity-012: rgba(230, 223, 249, 0.12),
    secondaryContainer-opacity-016: rgba(156, 176, 253, 0.16),
    secondaryContainer-opacity-010: rgba(156, 176, 253, 0.1),
    onSecondaryContainer-opacity-008: rgba(44, 64, 134, 0.08),
    onSecondaryContainer-opacity-012: rgba(28, 25, 43, 0.12),
    onSecondaryContainer-opacity-016: rgba(44, 64, 134, 0.16),
    onSecondaryContainer-opacity-010: rgba(44, 64, 134, 0.1),
    tertiary-opacity-008: rgba(125, 0, 157, 0.08),
    tertiary-opacity-012: rgba(124, 82, 99, 0.12),
    tertiary-opacity-016: rgba(125, 0, 157, 0.16),
    tertiary-opacity-010: rgba(125, 0, 157, 0.1),
    onTertiary-opacity-008: rgba(255, 255, 255, 0.08),
    onTertiary-opacity-012: rgba(255, 255, 255, 0.12),
    onTertiary-opacity-016: rgba(255, 255, 255, 0.16),
    onTertiary-opacity-010: rgba(255, 255, 255, 0.1),
    tertiaryContainer-opacity-008: rgba(155, 40, 188, 0.08),
    tertiaryContainer-opacity-012: rgba(255, 216, 230, 0.12),
    tertiaryContainer-opacity-016: rgba(155, 40, 188, 0.16),
    tertiaryContainer-opacity-010: rgba(155, 40, 188, 0.1),
    onTertiaryContainer-opacity-008: rgba(250, 208, 255, 0.08),
    onTertiaryContainer-opacity-012: rgba(48, 17, 32, 0.12),
    onTertiaryContainer-opacity-016: rgba(250, 208, 255, 0.16),
    onTertiaryContainer-opacity-010: rgba(250, 208, 255, 0.1),
    error-opacity-008: rgba(186, 26, 26, 0.08),
    error-opacity-012: rgba(186, 26, 26, 0.12),
    error-opacity-016: rgba(186, 26, 26, 0.16),
    error-opacity-010: rgba(186, 26, 26, 0.1),
    onError-opacity-008: rgba(255, 255, 255, 0.08),
    onError-opacity-012: rgba(255, 255, 255, 0.12),
    onError-opacity-016: rgba(255, 255, 255, 0.16),
    onError-opacity-010: rgba(255, 255, 255, 0.1),
    errorContainer-opacity-008: rgba(255, 218, 214, 0.08),
    errorContainer-opacity-012: rgba(255, 218, 214, 0.12),
    errorContainer-opacity-016: rgba(255, 218, 214, 0.16),
    errorContainer-opacity-010: rgba(255, 218, 214, 0.1),
    onErrorContainer-opacity-008: rgba(147, 0, 10, 0.08),
    onErrorContainer-opacity-012: rgba(65, 0, 2, 0.12),
    onErrorContainer-opacity-016: rgba(147, 0, 10, 0.16),
    onErrorContainer-opacity-010: rgba(147, 0, 10, 0.1),
    background-opacity-008: rgba(250, 248, 255, 0.08),
    background-opacity-012: rgba(253, 248, 255, 0.12),
    background-opacity-016: rgba(250, 248, 255, 0.16),
    background-opacity-010: rgba(250, 248, 255, 0.1),
    onBackground-opacity-008: rgba(25, 27, 36, 0.08),
    onBackground-opacity-012: rgba(28, 27, 32, 0.12),
    onBackground-opacity-016: rgba(25, 27, 36, 0.16),
    onBackground-opacity-010: rgba(25, 27, 36, 0.1),
    surface-opacity-008: rgba(250, 248, 255, 0.08),
    surface-opacity-012: rgba(253, 248, 255, 0.12),
    surface-opacity-016: rgba(250, 248, 255, 0.16),
    surface-opacity-010: rgba(250, 248, 255, 0.1),
    onSurface-opacity-008: rgba(25, 27, 36, 0.08),
    onSurface-opacity-012: rgba(28, 27, 32, 0.12),
    onSurface-opacity-016: rgba(25, 27, 36, 0.16),
    onSurface-opacity-010: rgba(25, 27, 36, 0.1),
    surfaceVariant-opacity-008: rgba(223, 225, 245, 0.08),
    surfaceVariant-opacity-012: rgba(230, 224, 236, 0.12),
    surfaceVariant-opacity-016: rgba(223, 225, 245, 0.16),
    surfaceVariant-opacity-010: rgba(223, 225, 245, 0.1),
    onSurfaceVariant-opacity-008: rgba(67, 70, 86, 0.08),
    onSurfaceVariant-opacity-012: rgba(72, 69, 78, 0.12),
    onSurfaceVariant-opacity-016: rgba(67, 70, 86, 0.16),
    onSurfaceVariant-opacity-010: rgba(67, 70, 86, 0.1),
    outline-opacity-008: rgba(115, 118, 135, 0.08),
    outline-opacity-012: rgba(121, 117, 127, 0.12),
    outline-opacity-016: rgba(115, 118, 135, 0.16),
    outline-opacity-010: rgba(115, 118, 135, 0.1),
    outlineVariant-opacity-008: rgba(195, 197, 217, 0.08),
    outlineVariant-opacity-012: rgba(201, 196, 208, 0.12),
    outlineVariant-opacity-016: rgba(195, 197, 217, 0.16),
    outlineVariant-opacity-010: rgba(195, 197, 217, 0.1),
    inverseSurface-opacity-008: rgba(46, 48, 58, 0.08),
    inverseSurface-opacity-012: rgba(49, 47, 54, 0.12),
    inverseSurface-opacity-016: rgba(46, 48, 58, 0.16),
    inverseSurface-opacity-010: rgba(46, 48, 58, 0.1),
    inverseOnSurface-opacity-008: rgba(240, 240, 253, 0.08),
    inverseOnSurface-opacity-012: rgba(244, 239, 247, 0.12),
    inverseOnSurface-opacity-016: rgba(240, 240, 253, 0.16),
    inverseOnSurface-opacity-010: rgba(240, 240, 253, 0.1),
    inversePrimary-opacity-008: rgba(182, 196, 255, 0.08),
    inversePrimary-opacity-012: rgba(202, 190, 255, 0.12),
    inversePrimary-opacity-016: rgba(182, 196, 255, 0.16),
    inversePrimary-opacity-010: rgba(182, 196, 255, 0.1),
    primaryFixed-opacity-008: rgba(220, 225, 255, 0.08),
    primaryFixed-opacity-012: rgba(230, 222, 255, 0.12),
    primaryFixed-opacity-016: rgba(220, 225, 255, 0.16),
    primaryFixed-opacity-010: rgba(220, 225, 255, 0.1),
    onPrimaryFixed-opacity-008: rgba(0, 21, 81, 0.08),
    onPrimaryFixed-opacity-012: rgba(28, 17, 73, 0.12),
    onPrimaryFixed-opacity-016: rgba(0, 21, 81, 0.16),
    onPrimaryFixed-opacity-010: rgba(0, 21, 81, 0.1),
    yellow: #FEDA00,
    on-yellow: #000000,
    yellow-container: #F8E287,
    on-yellow-container: #534600,
    blue: #3014FF,
    on-blue: #FFFFFF,
    blue-container: #F7F6FF,
    on-blue-container: #2B12E6,
    pink: #FD0BF3,
    on-pink: #FFFFFF,
    pink-container: #FFF5FF,
    on-pink-container: #E40ADB,
    violet: #9F10E3,
    on-violet: #FFFFFF,
    violet-container: #FBF5FE,
    on-violet-container: #8F0ECC,
    aqua: #38B8FF,
    on-aqua: #FFFFFF,
    aqua-container: #F7FCFF,
    on-aqua-container: #32A6E6,
    brown: #8C4F27,
    on-brown: #FFFFFF,
    brown-container: #FFDBC9,
    on-brown-container: #6F3812,
    green: #09C068,
    on-green: #FFFFFF,
    green-container: #A6F2D1,
    on-green-container: #003828,
    amber: #FFB82F,
    on-amber: #FFFFFF,
    amber-container: #FFDEA8,
    on-amber-container: #422C00,
    red: #FF515B,
    on-red: #FFFFFF,
    red-container: #FFF8F8,
    on-red-container: #E64952,
    green-opacity-008: rgba(11, 117, 83, 0.08),
    green-opacity-012: rgba(11, 117, 83, 0.12),
    green-opacity-016: rgba(11, 117, 83, 0.16),
    onGreen-opacity-008: rgba(255, 255, 255, 0.08),
    onGreen-opacity-012: rgba(255, 255, 255, 0.12),
    onGreen-opacity-016: rgba(255, 255, 255, 0.16),
    greenContainer-opacity-008: rgba(166, 242, 209, 0.08),
    greenContainer-opacity-012: rgba(166, 242, 209, 0.12),
    greenContainer-opacity-016: rgba(166, 242, 209, 0.16),
    onGreenContainer-opacity-008: rgba(0, 31, 20, 0.08),
    onGreenContainer-opacity-012: rgba(0, 31, 20, 0.12),
    onGreenContainer-opacity-016: rgba(0, 31, 20, 0.16),
    amber-opacity-008: rgba(192, 131, 0, 0.08),
    amber-opacity-012: rgba(192, 131, 0, 0.12),
    amber-opacity-016: rgba(192, 131, 0, 0.16),
    onAmber-opacity-008: rgba(255, 255, 255, 0.08),
    onAmber-opacity-012: rgba(255, 255, 255, 0.12),
    onAmber-opacity-016: rgba(255, 255, 255, 0.16),
    amberContainer-opacity-008: rgba(255, 222, 168, 0.08),
    amberContainer-opacity-012: rgba(255, 222, 168, 0.12),
    amberContainer-opacity-016: rgba(255, 222, 168, 0.16),
    onAmberContainer-opacity-008: rgba(41, 26, 0, 0.08),
    onAmberContainer-opacity-012: rgba(41, 26, 0, 0.12),
    onAmberContainer-opacity-016: rgba(41, 26, 0, 0.16),
    red-opacity-008: rgba(172, 72, 74, 0.08),
    red-opacity-012: rgba(172, 72, 74, 0.12),
    red-opacity-016: rgba(172, 72, 74, 0.16),
    onRed-opacity-008: rgba(255, 255, 255, 0.08),
    onRed-opacity-012: rgba(255, 255, 255, 0.12),
    onRed-opacity-016: rgba(255, 255, 255, 0.16),
    redContainer-opacity-008: rgba(255, 220, 219, 0.08),
    redContainer-opacity-012: rgba(255, 220, 219, 0.12),
    redContainer-opacity-016: rgba(255, 220, 219, 0.16),
    onRedContainer-opacity-008: rgba(58, 8, 13, 0.08),
    onRedContainer-opacity-012: rgba(58, 8, 13, 0.12),
    onRedContainer-opacity-016: rgba(58, 8, 13, 0.16),
);

$dark-theme: (
    primary: #4D87FF,
    on-primary: #002780,
    primary-container: #303743,
    on-primary-container: #82ABFF,
    secondary: #545D80,
    on-secondary: #132A70,
    secondary-container: #313439,
    on-secondary-container: #878EA6,
    tertiary: #824B7B,
    on-tertiary: #55006B,
    tertiary-container: #353239,
    on-tertiary-container: #A881A3,
    error: #FFB4AB,
    on-error: #690005,
    error-container: #93000A,
    on-error-container: #FFDAD6,
    background: #1A1C28,
    on-background: #F6F6F7,
    surface: #282B3C,
    on-surface: #F6F6F7,
    surface-variant: #222432,
    on-surface-variant: #9E9FA5,
    outline: #3D3F4B,
    outline-variant: #333542,
    inverse-surface: #F6F6F7,
    inverse-on-surface: #2E303A,
    inverse-primary: #0050F1,
    primary-fixed: #0050F1,
    on-primary-fixed: #FFFFFF,
    link-enabled: #4EBFFF,
    link-hovered: #4EBFFF,
    link-focused: #4EBFFF,
    link-pressed: #4EBFFF,
    primary-opacity-008: rgba(182, 196, 255, 0.08),
    primary-opacity-012: rgba(202, 190, 255, 0.12),
    primary-opacity-016: rgba(182, 196, 255, 0.16),
    primary-opacity-010: rgba(182, 196, 255, 0.1),
    onPrimary-opacity-008: rgba(0, 39, 128, 0.08),
    onPrimary-opacity-012: rgba(49, 40, 95, 0.12),
    onPrimary-opacity-016: rgba(0, 39, 128, 0.16),
    onPrimary-opacity-010: rgba(0, 39, 128, 0.1),
    primaryContainer-opacity-008: rgba(0, 80, 241, 0.08),
    primaryContainer-opacity-012: rgba(72, 63, 119, 0.12),
    primaryContainer-opacity-016: rgba(0, 80, 241, 0.16),
    primaryContainer-opacity-010: rgba(0, 80, 241, 0.1),
    onPrimaryContainer-opacity-008: rgba(214, 220, 255, 0.08),
    onPrimaryContainer-opacity-012: rgba(230, 222, 255, 0.12),
    onPrimaryContainer-opacity-016: rgba(214, 220, 255, 0.16),
    onPrimaryContainer-opacity-010: rgba(214, 220, 255, 0.1),
    secondary-opacity-008: rgba(182, 196, 255, 0.08),
    secondary-opacity-012: rgba(201, 195, 220, 0.12),
    secondary-opacity-016: rgba(182, 196, 255, 0.16),
    secondary-opacity-010: rgba(182, 196, 255, 0.1),
    onSecondary-opacity-008: rgba(19, 42, 112, 0.08),
    onSecondary-opacity-012: rgba(49, 46, 65, 0.12),
    onSecondary-opacity-016: rgba(19, 42, 112, 0.16),
    onSecondary-opacity-010: rgba(19, 42, 112, 0.1),
    secondaryContainer-opacity-008: rgba(46, 66, 136, 0.08),
    secondaryContainer-opacity-012: rgba(72, 68, 89, 0.12),
    secondaryContainer-opacity-016: rgba(46, 66, 136, 0.16),
    secondaryContainer-opacity-010: rgba(46, 66, 136, 0.1),
    onSecondaryContainer-opacity-008: rgba(158, 178, 255, 0.08),
    onSecondaryContainer-opacity-012: rgba(230, 223, 249, 0.12),
    onSecondaryContainer-opacity-016: rgba(158, 178, 255, 0.16),
    onSecondaryContainer-opacity-010: rgba(158, 178, 255, 0.1),
    tertiary-opacity-008: rgba(242, 175, 255, 0.08),
    tertiary-opacity-012: rgba(237, 184, 204, 0.12),
    tertiary-opacity-016: rgba(242, 175, 255, 0.16),
    tertiary-opacity-010: rgba(242, 175, 255, 0.1),
    onTertiary-opacity-008: rgba(85, 0, 107, 0.08),
    onTertiary-opacity-012: rgba(73, 37, 53, 0.12),
    onTertiary-opacity-016: rgba(85, 0, 107, 0.16),
    onTertiary-opacity-010: rgba(85, 0, 107, 0.1),
    tertiaryContainer-opacity-008: rgba(155, 40, 188, 0.08),
    tertiaryContainer-opacity-012: rgba(98, 59, 76, 0.12),
    tertiaryContainer-opacity-016: rgba(155, 40, 188, 0.16),
    tertiaryContainer-opacity-010: rgba(155, 40, 188, 0.1),
    onTertiaryContainer-opacity-008: rgba(250, 208, 255, 0.08),
    onTertiaryContainer-opacity-012: rgba(255, 216, 230, 0.12),
    onTertiaryContainer-opacity-016: rgba(250, 208, 255, 0.16),
    onTertiaryContainer-opacity-010: rgba(250, 208, 255, 0.1),
    error-opacity-008: rgba(255, 180, 171, 0.08),
    error-opacity-012: rgba(255, 180, 171, 0.12),
    error-opacity-016: rgba(255, 180, 171, 0.16),
    error-opacity-010: rgba(255, 180, 171, 0.1),
    onError-opacity-008: rgba(105, 0, 5, 0.08),
    onError-opacity-012: rgba(105, 0, 5, 0.12),
    onError-opacity-016: rgba(105, 0, 5, 0.16),
    onError-opacity-010: rgba(105, 0, 5, 0.1),
    errorContainer-opacity-008: rgba(147, 0, 10, 0.08),
    errorContainer-opacity-012: rgba(147, 0, 10, 0.12),
    errorContainer-opacity-016: rgba(147, 0, 10, 0.16),
    errorContainer-opacity-010: rgba(147, 0, 10, 0.1),
    onErrorContainer-opacity-008: rgba(255, 218, 214, 0.08),
    onErrorContainer-opacity-012: rgba(255, 218, 214, 0.12),
    onErrorContainer-opacity-016: rgba(255, 218, 214, 0.16),
    onErrorContainer-opacity-010: rgba(255, 218, 214, 0.1),
    background-opacity-008: rgba(17, 19, 28, 0.08),
    background-opacity-012: rgba(20, 19, 24, 0.12),
    background-opacity-016: rgba(17, 19, 28, 0.16),
    background-opacity-010: rgba(17, 19, 28, 0.1),
    onBackground-opacity-008: rgba(225, 225, 238, 0.08),
    onBackground-opacity-012: rgba(230, 225, 233, 0.12),
    onBackground-opacity-016: rgba(225, 225, 238, 0.16),
    onBackground-opacity-010: rgba(225, 225, 238, 0.1),
    surface-opacity-008: rgba(17, 19, 28, 0.08),
    surface-opacity-012: rgba(20, 19, 24, 0.12),
    surface-opacity-016: rgba(17, 19, 28, 0.16),
    surface-opacity-010: rgba(17, 19, 28, 0.1),
    onSurface-opacity-008: rgba(225, 225, 238, 0.08),
    onSurface-opacity-012: rgba(230, 225, 233, 0.12),
    onSurface-opacity-016: rgba(225, 225, 238, 0.16),
    onSurface-opacity-004: rgba(180, 215, 235, 0.04),
    onSurface-opacity-010: rgba(225, 225, 238, 0.1),
    surfaceVariant-opacity-008: rgba(67, 70, 86, 0.08),
    surfaceVariant-opacity-012: rgba(72, 69, 78, 0.12),
    surfaceVariant-opacity-016: rgba(67, 70, 86, 0.16),
    surfaceVariant-opacity-010: rgba(67, 70, 86, 0.1),
    onSurfaceVariant-opacity-008: rgba(195, 197, 217, 0.08),
    onSurfaceVariant-opacity-012: rgba(201, 196, 208, 0.12),
    onSurfaceVariant-opacity-016: rgba(195, 197, 217, 0.16),
    onSurfaceVariant-opacity-010: rgba(195, 197, 217, 0.1),
    outline-opacity-008: rgba(141, 144, 162, 0.08),
    outline-opacity-012: rgba(147, 143, 153, 0.12),
    outline-opacity-016: rgba(141, 144, 162, 0.16),
    outline-opacity-010: rgba(141, 144, 162, 0.1),
    outlineVariant-opacity-008: rgba(67, 70, 86, 0.08),
    outlineVariant-opacity-012: rgba(72, 69, 78, 0.12),
    outlineVariant-opacity-016: rgba(67, 70, 86, 0.16),
    outlineVariant-opacity-010: rgba(67, 70, 86, 0.1),
    inverseSurface-opacity-008: rgba(225, 225, 238, 0.08),
    inverseSurface-opacity-012: rgba(230, 225, 233, 0.12),
    inverseSurface-opacity-016: rgba(225, 225, 238, 0.16),
    inverseSurface-opacity-010: rgba(225, 225, 238, 0.1),
    inverseOnSurface-opacity-008: rgba(46, 48, 58, 0.08),
    inverseOnSurface-opacity-012: rgba(49, 47, 54, 0.12),
    inverseOnSurface-opacity-016: rgba(46, 48, 58, 0.16),
    inverseOnSurface-opacity-010: rgba(46, 48, 58, 0.1),
    inversePrimary-opacity-008: rgba(0, 77, 233, 0.08),
    inversePrimary-opacity-012: rgba(96, 86, 144, 0.12),
    inversePrimary-opacity-016: rgba(0, 77, 233, 0.16),
    inversePrimary-opacity-010: rgba(0, 77, 233, 0.1),
    primaryFixed-opacity-008: rgba(220, 225, 255, 0.08),
    primaryFixed-opacity-012: rgba(230, 222, 255, 0.12),
    primaryFixed-opacity-016: rgba(220, 225, 255, 0.16),
    primaryFixed-opacity-010: rgba(220, 225, 255, 0.1),
    onPrimaryFixed-opacity-008: rgba(0, 21, 81, 0.08),
    onPrimaryFixed-opacity-012: rgba(28, 17, 73, 0.12),
    onPrimaryFixed-opacity-016: rgba(0, 21, 81, 0.16),
    onPrimaryFixed-opacity-010: rgba(0, 21, 81, 0.1),
    yellow: #FEDA00,
    on-yellow: #000000,
    yellow-container: #534600,
    on-yellow-container: #F8E287,
    blue: #C2C1FF,
    on-blue: #2A2A60,
    blue-container: #3A3C43,
    on-blue-container: #D4D4FF,
    pink: #F3B3E4,
    on-pink: #4D1F47,
    pink-container: #3E3A41,
    on-pink-container: #F7CAEC,
    violet: #741F9D,
    on-violet: #432255,
    violet-container: #342F3B,
    on-violet-container: #9E62BA,
    aqua: #3783AD,
    on-aqua: #00344E,
    aqua-container: #2F373D,
    on-aqua-container: #73A8C6,
    brown: #846552,
    on-brown: #522300,
    brown-container: #6F3812,
    on-brown-container: #FFDBC9,
    green: #8AD6B5,
    on-green: #003828,
    green-container: #00523C,
    on-green-container: #A6F2D1,
    amber: #EFBF6C,
    on-amber: #422C00,
    amber-container: #614200,
    on-amber-container: #FFDEA8,
    red: #AD373E,
    on-red: #581D20,
    red-container: #383134,
    on-red-container: #C67378,
    green-opacity-008: rgba(138, 214, 181, 0.08),
    green-opacity-012: rgba(138, 214, 181, 0.12),
    green-opacity-016: rgba(138, 214, 181, 0.16),
    onGreen-opacity-008: rgba(0, 56, 40, 0.08),
    onGreen-opacity-012: rgba(0, 56, 40, 0.12),
    onGreen-opacity-016: rgba(0, 56, 40, 0.16),
    greenContainer-opacity-008: rgba(0, 82, 60, 0.08),
    greenContainer-opacity-012: rgba(0, 82, 60, 0.12),
    greenContainer-opacity-016: rgba(0, 82, 60, 0.16),
    onGreenContainer-opacity-008: rgba(166, 242, 209, 0.08),
    onGreenContainer-opacity-012: rgba(166, 242, 209, 0.12),
    onGreenContainer-opacity-016: rgba(166, 242, 209, 0.16),
    amber-opacity-008: rgba(239, 191, 108, 0.08),
    amber-opacity-012: rgba(239, 191, 108, 0.12),
    amber-opacity-016: rgba(239, 191, 108, 0.16),
    onAmber-opacity-008: rgba(66, 44, 0, 0.08),
    onAmber-opacity-012: rgba(66, 44, 0, 0.12),
    onAmber-opacity-016: rgba(66, 44, 0, 0.16),
    amberContainer-opacity-008: rgba(97, 66, 0, 0.08),
    amberContainer-opacity-012: rgba(97, 66, 0, 0.12),
    amberContainer-opacity-016: rgba(97, 66, 0, 0.16),
    onAmberContainer-opacity-008: rgba(255, 222, 168, 0.08),
    onAmberContainer-opacity-012: rgba(255, 222, 168, 0.12),
    onAmberContainer-opacity-016: rgba(255, 222, 168, 0.16),
    red-opacity-008: rgba(255, 179, 179, 0.08),
    red-opacity-012: rgba(255, 179, 179, 0.12),
    red-opacity-016: rgba(255, 179, 179, 0.16),
    onRed-opacity-008: rgba(88, 29, 32, 0.08),
    onRed-opacity-012: rgba(88, 29, 32, 0.12),
    onRed-opacity-016: rgba(88, 29, 32, 0.16),
    redContainer-opacity-008: rgba(117, 51, 54, 0.08),
    redContainer-opacity-012: rgba(117, 51, 54, 0.12),
    redContainer-opacity-016: rgba(117, 51, 54, 0.16),
    onRedContainer-opacity-008: rgba(255, 220, 219, 0.08),
    onRedContainer-opacity-012: rgba(255, 220, 219, 0.12),
    onRedContainer-opacity-016: rgba(255, 220, 219, 0.16),
);