/**/






$global: (
    white: #FFFFFF,
    black: #1A1C28,
    key-colors-primary: #0050F1,
    key-colors-badge: #FF3737,
    key-colors-secondary: #10ACF5,
    key-colors-tertiary: #5AE2F2,
    additional-key-colors-red: #FF3844,
    additional-key-colors-brown: #BA8566,
    additional-key-colors-aqua: #38B8FF,
    additional-key-colors-violet: #9F10E3,
    additional-key-colors-amber: #FFA620,
    additional-key-colors-green: #09C068,
    additional-key-colors-pink: #FD0BF3,
    additional-key-colors-blue: #3014FF,
    support-chart-1: #FDD000,
    support-chart-2: #A4D837,
    support-chart-3: #23E37C,
    support-chart-4: #1BE5D9,
    support-chart-5: #06C3FF,
    support-chart-6: #2073F6,
    support-chart-7: #5015F8,
    support-chart-8: #7512E2,
    support-chart-9: #DA00FD,
    support-chart-10: #FD00A7,
    support-chart-11: #FF862D,
    support-chart-12: #EBEBEB,
    support-chart-13: #6C40E9,
    support-chart-14: #58D792,
    support-schedule-1: #51CCE1,
    support-schedule-2: #7642E4,
    support-schedule-3: #FF4672,
    support-sign-1: #FDA700,
    support-sign-2: #41DA34,
    support-sign-3: #27DAE5,
    support-sign-4: #0528E1,
    support-sign-5: #952AFF,
    support-sign-6: #FF365A,
);

$light-theme: (
    logo: url("../assets/logo-light.svg"),
    primary: #0050F1,
    on-primary: #FFFFFF,
    primary-container: #F5F8FE,
    on-primary-container: #0048D9,
    secondary: #10ACF5,
    on-secondary: #FFFFFF,
    secondary-container: #F5FCFF,
    on-secondary-container: #0E9BDD,
    tertiary: #5AE2F2,
    on-tertiary: #FFFFFF,
    tertiary-container: #F8FEFE,
    on-tertiary-container: #51CBDA,
    error: #BA1A1A,
    on-error: #FFFFFF,
    error-container: #FFDAD6,
    on-error-container: #93000A,
    background: #F3F4FB,
    on-background: #222432,
    surface: #FFFFFF,
    on-surface: #222432,
    surface-variant: #F7F7FC,
    on-surface-variant: #7A7C84,
    outline: #E0E1E7,
    outline-variant: #EBECF3,
    inverse-surface: #222432,
    inverse-on-surface: #F0F0FD,
    inverse-primary: #0050F1,
    primary-fixed: #0050F1,
    on-primary-fixed: #FFFFFF,
    surface-container: rgba(255, 255, 255, 0.7),
    overlay: linear-gradient(rgba(247, 247, 252, 1) 0%, rgba(247, 247, 252, 0.3) 100%),
    primary-opacity-008: rgba(0, 60, 186, 0.08),
    primary-opacity-012: rgba(96, 86, 144, 0.12),
    primary-opacity-016: rgba(0, 60, 186, 0.16),
    primary-opacity-010: rgba(0, 60, 186, 0.1),
    on-primary-opacity-008: rgba(255, 255, 255, 0.08),
    on-primary-opacity-012: rgba(255, 255, 255, 0.12),
    on-primary-opacity-016: rgba(255, 255, 255, 0.16),
    on-primary-opacity-010: rgba(255, 255, 255, 0.1),
    primary-container-opacity-008: rgba(0, 80, 241, 0.08),
    primary-container-opacity-012: rgba(230, 222, 255, 0.12),
    primary-container-opacity-016: rgba(0, 80, 241, 0.16),
    primary-container-opacity-010: rgba(0, 80, 241, 0.1),
    on-primary-container-opacity-008: rgba(214, 220, 255, 0.08),
    on-primary-container-opacity-012: rgba(28, 17, 73, 0.12),
    on-primary-container-opacity-016: rgba(214, 220, 255, 0.16),
    on-primary-container-opacity-010: rgba(214, 220, 255, 0.1),
    secondary-opacity-008: rgba(0, 100, 146, 0.08),
    secondary-opacity-012: rgba(96, 92, 113, 0.12),
    secondary-opacity-016: rgba(0, 100, 146, 0.16),
    secondary-opacity-010: rgba(0, 100, 146, 0.1),
    on-secondary-opacity-008: rgba(255, 255, 255, 0.08),
    on-secondary-opacity-012: rgba(255, 255, 255, 0.12),
    on-secondary-opacity-016: rgba(255, 255, 255, 0.16),
    on-secondary-opacity-010: rgba(255, 255, 255, 0.1),
    secondary-container-opacity-008: rgba(16, 172, 245, 0.08),
    secondary-container-opacity-012: rgba(230, 223, 249, 0.12),
    secondary-container-opacity-016: rgba(16, 172, 245, 0.16),
    secondary-container-opacity-010: rgba(16, 172, 245, 0.1),
    on-secondary-container-opacity-008: rgba(0, 61, 90, 0.08),
    on-secondary-container-opacity-012: rgba(28, 25, 43, 0.12),
    on-secondary-container-opacity-016: rgba(0, 61, 90, 0.16),
    on-secondary-container-opacity-010: rgba(0, 61, 90, 0.1),
    tertiary-opacity-008: rgba(0, 105, 114, 0.08),
    tertiary-opacity-012: rgba(124, 82, 99, 0.12),
    tertiary-opacity-016: rgba(0, 105, 114, 0.16),
    tertiary-opacity-010: rgba(0, 105, 114, 0.1),
    on-tertiary-opacity-008: rgba(255, 255, 255, 0.08),
    on-tertiary-opacity-012: rgba(255, 255, 255, 0.12),
    on-tertiary-opacity-016: rgba(255, 255, 255, 0.16),
    on-tertiary-opacity-010: rgba(255, 255, 255, 0.1),
    tertiary-container-opacity-008: rgba(90, 226, 242, 0.08),
    tertiary-container-opacity-012: rgba(255, 216, 230, 0.12),
    tertiary-container-opacity-016: rgba(90, 226, 242, 0.16),
    tertiary-container-opacity-010: rgba(90, 226, 242, 0.1),
    on-tertiary-container-opacity-008: rgba(0, 98, 107, 0.08),
    on-tertiary-container-opacity-012: rgba(48, 17, 32, 0.12),
    on-tertiary-container-opacity-016: rgba(0, 98, 107, 0.16),
    on-tertiary-container-opacity-010: rgba(0, 98, 107, 0.1),
    error-opacity-008: rgba(186, 26, 26, 0.08),
    error-opacity-012: rgba(186, 26, 26, 0.12),
    error-opacity-016: rgba(186, 26, 26, 0.16),
    error-opacity-010: rgba(186, 26, 26, 0.1),
    on-error-opacity-008: rgba(255, 255, 255, 0.08),
    on-error-opacity-012: rgba(255, 255, 255, 0.12),
    on-error-opacity-016: rgba(255, 255, 255, 0.16),
    on-error-opacity-010: rgba(255, 255, 255, 0.1),
    error-container-opacity-008: rgba(255, 218, 214, 0.08),
    error-container-opacity-012: rgba(255, 218, 214, 0.12),
    error-container-opacity-016: rgba(255, 218, 214, 0.16),
    error-container-opacity-010: rgba(255, 218, 214, 0.1),
    on-error-container-opacity-008: rgba(147, 0, 10, 0.08),
    on-error-container-opacity-012: rgba(65, 0, 2, 0.12),
    on-error-container-opacity-016: rgba(147, 0, 10, 0.16),
    on-error-container-opacity-010: rgba(147, 0, 10, 0.1),
    background-opacity-008: rgba(250, 248, 255, 0.08),
    background-opacity-012: rgba(253, 248, 255, 0.12),
    background-opacity-016: rgba(250, 248, 255, 0.16),
    background-opacity-010: rgba(250, 248, 255, 0.1),
    on-background-opacity-008: rgba(25, 27, 36, 0.08),
    on-background-opacity-012: rgba(28, 27, 32, 0.12),
    on-background-opacity-016: rgba(25, 27, 36, 0.16),
    on-background-opacity-010: rgba(25, 27, 36, 0.1),
    surface-opacity-008: rgba(250, 248, 255, 0.08),
    surface-opacity-012: rgba(253, 248, 255, 0.12),
    surface-opacity-016: rgba(250, 248, 255, 0.16),
    surface-opacity-010: rgba(250, 248, 255, 0.1),
    on-surface-opacity-008: rgba(25, 27, 36, 0.08),
    on-surface-opacity-012: rgba(28, 27, 32, 0.12),
    on-surface-opacity-016: rgba(25, 27, 36, 0.16),
    on-surface-opacity-010: rgba(25, 27, 36, 0.1),
    surface-variant-opacity-008: rgba(223, 225, 245, 0.08),
    surface-variant-opacity-012: rgba(230, 224, 236, 0.12),
    surface-variant-opacity-016: rgba(223, 225, 245, 0.16),
    surface-variant-opacity-010: rgba(223, 225, 245, 0.1),
    on-surface-variant-opacity-008: rgba(67, 70, 86, 0.08),
    on-surface-variant-opacity-012: rgba(72, 69, 78, 0.12),
    on-surface-variant-opacity-016: rgba(67, 70, 86, 0.16),
    on-surface-variant-opacity-010: rgba(67, 70, 86, 0.1),
    outline-opacity-008: rgba(115, 118, 135, 0.08),
    outline-opacity-012: rgba(121, 117, 127, 0.12),
    outline-opacity-016: rgba(115, 118, 135, 0.16),
    outline-opacity-010: rgba(115, 118, 135, 0.1),
    outline-variant-opacity-008: rgba(195, 197, 217, 0.08),
    outline-variant-opacity-012: rgba(201, 196, 208, 0.12),
    outline-variant-opacity-016: rgba(195, 197, 217, 0.16),
    outline-variant-opacity-010: rgba(195, 197, 217, 0.1),
    inverse-surface-opacity-008: rgba(46, 48, 58, 0.08),
    inverse-surface-opacity-012: rgba(49, 47, 54, 0.12),
    inverse-surface-opacity-016: rgba(46, 48, 58, 0.16),
    inverse-surface-opacity-010: rgba(46, 48, 58, 0.1),
    inverse-on-surface-opacity-008: rgba(240, 240, 253, 0.08),
    inverse-on-surface-opacity-012: rgba(244, 239, 247, 0.12),
    inverse-on-surface-opacity-016: rgba(240, 240, 253, 0.16),
    inverse-on-surface-opacity-010: rgba(240, 240, 253, 0.1),
    inverse-primary-opacity-008: rgba(182, 196, 255, 0.08),
    inverse-primary-opacity-012: rgba(202, 190, 255, 0.12),
    inverse-primary-opacity-016: rgba(182, 196, 255, 0.16),
    inverse-primary-opacity-010: rgba(182, 196, 255, 0.1),
    primary-fixed-opacity-008: rgba(220, 225, 255, 0.08),
    primary-fixed-opacity-012: rgba(230, 222, 255, 0.12),
    primary-fixed-opacity-016: rgba(220, 225, 255, 0.16),
    primary-fixed-opacity-010: rgba(220, 225, 255, 0.1),
    on-primary-fixed-opacity-008: rgba(0, 21, 81, 0.08),
    on-primary-fixed-opacity-012: rgba(28, 17, 73, 0.12),
    on-primary-fixed-opacity-016: rgba(0, 21, 81, 0.16),
    on-primary-fixed-opacity-010: rgba(0, 21, 81, 0.1),
    red-container: #FFE7E9,
    on-red-container: #B92E36,
    brown-container: #F7F0ED,
    on-brown-container: #89644E,
    aqua-container: #E7F6FF,
    on-aqua-container: #2E88B9,
    violet-container: #F3E2FC,
    on-violet-container: #7612A6,
    amber-container: #FFF4E4,
    on-amber-container: #B97B1D,
    green-container: #E1F7ED,
    on-green-container: #0D8D50,
    pink-container: #FFE2FE,
    on-pink-container: #B80FB1,
    blue-container: #E6E3FF,
    on-blue-container: #2815B9,
);

$dark-theme: (
    logo: url("../assets/logo-dark.svg"),
    primary: #4D87FF,
    on-primary: #002780,
    primary-container: #2B324C,
    on-primary-container: #82ABFF,
    secondary: #006492,
    on-secondary: #00344E,
    secondary-container: #253043,
    on-secondary-container: #4D93B3,
    tertiary: #006972,
    on-tertiary: #00363C,
    tertiary-container: #253040,
    on-tertiary-container: #4D969C,
    error: #FFB4AB,
    on-error: #690005,
    error-container: #93000A,
    on-error-container: #FFDAD6,
    background: #1A1C28,
    on-background: #F6F6F7,
    surface: #282B3C,
    on-surface: #F6F6F7,
    surface-variant: #222432,
    on-surface-variant: #9E9FA5,
    outline: #3D3F4B,
    outline-variant: #333542,
    inverse-surface: #F6F6F7,
    inverse-on-surface: #2E303A,
    inverse-primary: #0050F1,
    primary-fixed: #0050F1,
    on-primary-fixed: #FFFFFF,
    surface-container: rgba(40, 43, 60, 0.7),
    overlay: linear-gradient(rgba(34, 36, 50, 1) 0%, rgba(34, 36, 50, 0.3) 100%),
    primary-opacity-008: rgba(182, 196, 255, 0.08),
    primary-opacity-012: rgba(202, 190, 255, 0.12),
    primary-opacity-016: rgba(182, 196, 255, 0.16),
    primary-opacity-010: rgba(182, 196, 255, 0.1),
    on-primary-opacity-008: rgba(0, 39, 128, 0.08),
    on-primary-opacity-012: rgba(49, 40, 95, 0.12),
    on-primary-opacity-016: rgba(0, 39, 128, 0.16),
    on-primary-opacity-010: rgba(0, 39, 128, 0.1),
    primary-container-opacity-008: rgba(0, 80, 241, 0.08),
    primary-container-opacity-012: rgba(72, 63, 119, 0.12),
    primary-container-opacity-016: rgba(0, 80, 241, 0.16),
    primary-container-opacity-010: rgba(0, 80, 241, 0.1),
    on-primary-container-opacity-008: rgba(214, 220, 255, 0.08),
    on-primary-container-opacity-012: rgba(230, 222, 255, 0.12),
    on-primary-container-opacity-016: rgba(214, 220, 255, 0.16),
    on-primary-container-opacity-010: rgba(214, 220, 255, 0.1),
    secondary-opacity-008: rgba(139, 206, 255, 0.08),
    secondary-opacity-012: rgba(201, 195, 220, 0.12),
    secondary-opacity-016: rgba(139, 206, 255, 0.16),
    secondary-opacity-010: rgba(139, 206, 255, 0.1),
    on-secondary-opacity-008: rgba(0, 52, 78, 0.08),
    on-secondary-opacity-012: rgba(49, 46, 65, 0.12),
    on-secondary-opacity-016: rgba(0, 52, 78, 0.16),
    on-secondary-opacity-010: rgba(0, 52, 78, 0.1),
    secondary-container-opacity-008: rgba(16, 172, 245, 0.08),
    secondary-container-opacity-012: rgba(72, 68, 89, 0.12),
    secondary-container-opacity-016: rgba(16, 172, 245, 0.16),
    secondary-container-opacity-010: rgba(16, 172, 245, 0.1),
    on-secondary-container-opacity-008: rgba(0, 61, 90, 0.08),
    on-secondary-container-opacity-012: rgba(230, 223, 249, 0.12),
    on-secondary-container-opacity-016: rgba(0, 61, 90, 0.16),
    on-secondary-container-opacity-010: rgba(0, 61, 90, 0.1),
    tertiary-opacity-008: rgba(186, 247, 255, 0.08),
    tertiary-opacity-012: rgba(237, 184, 204, 0.12),
    tertiary-opacity-016: rgba(186, 247, 255, 0.16),
    tertiary-opacity-010: rgba(186, 247, 255, 0.1),
    on-tertiary-opacity-008: rgba(0, 54, 60, 0.08),
    on-tertiary-opacity-012: rgba(73, 37, 53, 0.12),
    on-tertiary-opacity-016: rgba(0, 54, 60, 0.16),
    on-tertiary-opacity-010: rgba(0, 54, 60, 0.1),
    tertiary-container-opacity-008: rgba(90, 226, 242, 0.08),
    tertiary-container-opacity-012: rgba(98, 59, 76, 0.12),
    tertiary-container-opacity-016: rgba(90, 226, 242, 0.16),
    tertiary-container-opacity-010: rgba(90, 226, 242, 0.1),
    on-tertiary-container-opacity-008: rgba(0, 98, 107, 0.08),
    on-tertiary-container-opacity-012: rgba(255, 216, 230, 0.12),
    on-tertiary-container-opacity-016: rgba(0, 98, 107, 0.16),
    on-tertiary-container-opacity-010: rgba(0, 98, 107, 0.1),
    error-opacity-008: rgba(255, 180, 171, 0.08),
    error-opacity-012: rgba(255, 180, 171, 0.12),
    error-opacity-016: rgba(255, 180, 171, 0.16),
    error-opacity-010: rgba(255, 180, 171, 0.1),
    on-error-opacity-008: rgba(105, 0, 5, 0.08),
    on-error-opacity-012: rgba(105, 0, 5, 0.12),
    on-error-opacity-016: rgba(105, 0, 5, 0.16),
    on-error-opacity-010: rgba(105, 0, 5, 0.1),
    error-container-opacity-008: rgba(147, 0, 10, 0.08),
    error-container-opacity-012: rgba(147, 0, 10, 0.12),
    error-container-opacity-016: rgba(147, 0, 10, 0.16),
    error-container-opacity-010: rgba(147, 0, 10, 0.1),
    on-error-container-opacity-008: rgba(255, 218, 214, 0.08),
    on-error-container-opacity-012: rgba(255, 218, 214, 0.12),
    on-error-container-opacity-016: rgba(255, 218, 214, 0.16),
    on-error-container-opacity-010: rgba(255, 218, 214, 0.1),
    background-opacity-008: rgba(17, 19, 28, 0.08),
    background-opacity-012: rgba(20, 19, 24, 0.12),
    background-opacity-016: rgba(17, 19, 28, 0.16),
    background-opacity-010: rgba(17, 19, 28, 0.1),
    on-background-opacity-008: rgba(225, 225, 238, 0.08),
    on-background-opacity-012: rgba(230, 225, 233, 0.12),
    on-background-opacity-016: rgba(225, 225, 238, 0.16),
    on-background-opacity-010: rgba(225, 225, 238, 0.1),
    surface-opacity-008: rgba(17, 19, 28, 0.08),
    surface-opacity-012: rgba(20, 19, 24, 0.12),
    surface-opacity-016: rgba(17, 19, 28, 0.16),
    surface-opacity-010: rgba(17, 19, 28, 0.1),
    on-surface-opacity-008: rgba(225, 225, 238, 0.08),
    on-surface-opacity-012: rgba(230, 225, 233, 0.12),
    on-surface-opacity-016: rgba(225, 225, 238, 0.16),
    on-surface-opacity-004: rgba(180, 215, 235, 0.04),
    on-surface-opacity-010: rgba(225, 225, 238, 0.1),
    surface-variant-opacity-008: rgba(67, 70, 86, 0.08),
    surface-variant-opacity-012: rgba(72, 69, 78, 0.12),
    surface-variant-opacity-016: rgba(67, 70, 86, 0.16),
    surface-variant-opacity-010: rgba(67, 70, 86, 0.1),
    on-surface-variant-opacity-008: rgba(195, 197, 217, 0.08),
    on-surface-variant-opacity-012: rgba(201, 196, 208, 0.12),
    on-surface-variant-opacity-016: rgba(195, 197, 217, 0.16),
    on-surface-variant-opacity-010: rgba(195, 197, 217, 0.1),
    outline-opacity-008: rgba(141, 144, 162, 0.08),
    outline-opacity-012: rgba(147, 143, 153, 0.12),
    outline-opacity-016: rgba(141, 144, 162, 0.16),
    outline-opacity-010: rgba(141, 144, 162, 0.1),
    outline-variant-opacity-008: rgba(67, 70, 86, 0.08),
    outline-variant-opacity-012: rgba(72, 69, 78, 0.12),
    outline-variant-opacity-016: rgba(67, 70, 86, 0.16),
    outline-variant-opacity-010: rgba(67, 70, 86, 0.1),
    inverse-surface-opacity-008: rgba(225, 225, 238, 0.08),
    inverse-surface-opacity-012: rgba(230, 225, 233, 0.12),
    inverse-surface-opacity-016: rgba(225, 225, 238, 0.16),
    inverse-surface-opacity-010: rgba(225, 225, 238, 0.1),
    inverse-on-surface-opacity-008: rgba(46, 48, 58, 0.08),
    inverse-on-surface-opacity-012: rgba(49, 47, 54, 0.12),
    inverse-on-surface-opacity-016: rgba(46, 48, 58, 0.16),
    inverse-on-surface-opacity-010: rgba(46, 48, 58, 0.1),
    inverse-primary-opacity-008: rgba(0, 77, 233, 0.08),
    inverse-primary-opacity-012: rgba(96, 86, 144, 0.12),
    inverse-primary-opacity-016: rgba(0, 77, 233, 0.16),
    inverse-primary-opacity-010: rgba(0, 77, 233, 0.1),
    primary-fixed-opacity-008: rgba(220, 225, 255, 0.08),
    primary-fixed-opacity-012: rgba(230, 222, 255, 0.12),
    primary-fixed-opacity-016: rgba(220, 225, 255, 0.16),
    primary-fixed-opacity-010: rgba(220, 225, 255, 0.1),
    on-primary-fixed-opacity-008: rgba(0, 21, 81, 0.08),
    on-primary-fixed-opacity-012: rgba(28, 17, 73, 0.12),
    on-primary-fixed-opacity-016: rgba(0, 21, 81, 0.16),
    on-primary-fixed-opacity-010: rgba(0, 21, 81, 0.1),
    red-container: #612225,
    on-red-container: #FFC7CB,
    brown-container: #4B3A30,
    on-brown-container: #ECDDD4,
    aqua-container: #224B61,
    on-aqua-container: #C7EBFF,
    violet-container: #431558,
    on-violet-container: #E4BCF7,
    amber-container: #61451A,
    on-amber-container: #FFE6C1,
    green-container: #134D31,
    on-green-container: #BAEDD5,
    pink-container: #61135D,
    on-pink-container: #FEBBFC,
    blue-container: #1F1661,
    on-blue-container: #C5BDFF,
);