@use "lib_color" as color;
@use "lib_text" as text;
@use "mixins";







main {
    @include mixins.column-top-center;
    align-self: stretch;
    background: var(--m-sys-light-surface, #FFF);



    >section.intro {
        @include mixins.row-center-center;
        align-self: stretch;
        background: var(--m-black, #1A1C28);



        >div:nth-child(1).container {
            @include mixins.row-top-center;
            max-width: 1200px;
            padding: 120px 0;
            gap: 120px;
            flex: 1 0 0;



            >div:nth-child(1).frame {
                @include mixins.column-top-left;
                max-width: 600px;
                gap: 24px;
                flex: 1 0 0;



                >div:nth-child(1).frame-page-title {
                    @include mixins.row-center-center;
                    gap: 12px;
                    align-self: stretch;



                    >h2:nth-child(1).join {
                        @include text.m-display-large;
                        color: var(--m-sys-light-primary, #0050F1);
                    }



                    >h2:nth-child(2).us {
                        @include text.m-display-large;
                        color: var(--m-white, #FFF);
                    }
                }



                >div:nth-child(2).join-a-team-led-by-korean-mana {
                    @include text.m-body-medium;
                    align-self: stretch;
                    color: var(--m-white, #FFF);
                    text-align: center;
                    opacity: 0.7;
                }
            }
        }
    }



    >section.recruiting {
        @include mixins.row-center-center;
        gap: 10px;
        align-self: stretch;
        background: var(--m-sys-light-surface-variant, #FAFBFD);



        >div:nth-child(1).container {
            @include mixins.column-top-left;
            max-width: 1200px;
            padding: 120px 0 160px 0;
            gap: 60px;
            flex: 1 0 0;



            >div:nth-child(1).frame {
                @include mixins.column-top-left;
                gap: 24px;
                align-self: stretch;



                >h2:nth-child(1).recruiting {
                    @include text.m-headline-large;
                    align-self: stretch;
                    color: var(--m-sys-light-on-surface, #222432);
                }



                >div:nth-child(2).frame {
                    @include mixins.row-center-center;
                    width: 120px;
                    height: 4px;
                    background: var(--m-sys-light-outline-variant, #EBECF3);



                    >div:nth-child(1).rectangle {
                        flex: 1 0 0;
                        align-self: stretch;
                        background: var(--m-sys-light-primary, #0050F1);
                    }



                    >div:nth-child(2).rectangle {
                        flex: 1 0 0;
                        align-self: stretch;
                        background: var(--m-sys-light-primary, #0050F1);
                    }



                    >div:nth-child(3).rectangle {
                        flex: 1 0 0;
                        align-self: stretch;
                        background: var(--m-sys-light-outline-variant, #EBECF3);
                    }
                }
            }



            >div:nth-child(2).frame {
                @include mixins.column-top-left;
                gap: 20px;
                align-self: stretch;



                >div:nth-child(1).frame {
                    @include mixins.row-top-left;
                    gap: 20px;
                    align-self: stretch;



                    >div:nth-child(1).frame {
                        @include mixins.column-top-left;
                        padding: 40px;
                        gap: 28px;
                        flex: 1 0 0;
                        background: #FFF;



                        >div:nth-child(1).frame {
                            @include mixins.column-top-left;
                            gap: 20px;
                            align-self: stretch;



                            >div:nth-child(1).frame {
                                @include mixins.column-top-left;
                                gap: 8px;
                                align-self: stretch;



                                >h4:nth-child(1).h4-frontend-developer-web-mobi {
                                    @include text.m-title-medium;
                                    align-self: stretch;
                                    color: var(--m-sys-light-on-surface, #222432);
                                }



                                >div:nth-child(2).frame {
                                    @include mixins.row-top-left;
                                    gap: 8px;



                                    >div:nth-child(1).chip {
                                        @include mixins.row-center-center;
                                        height: 24px;
                                        border-radius: 2px;
                                        background: var(--additional-sys-light-green-container, #E1F7ED);



                                        >div:nth-child(1).state-layer {
                                            @include mixins.row-center-center;
                                            padding: 6px 10px;
                                            gap: 4px;
                                            align-self: stretch;



                                            >label:nth-child(1).text {
                                                @include text.m-label-small;
                                                color: var(--additional-sys-light-on-green-container, #0D8D50);
                                                text-align: center;
                                            }
                                        }
                                    }



                                    >div:nth-child(2).chip {
                                        @include mixins.row-center-center;
                                        height: 24px;
                                        border-radius: 2px;
                                        background: var(--additional-sys-light-red-container, #FFE7E9);



                                        >div:nth-child(1).state-layer {
                                            @include mixins.row-center-center;
                                            padding: 6px 10px;
                                            gap: 4px;
                                            align-self: stretch;



                                            >label:nth-child(1).text {
                                                @include text.m-label-small;
                                                color: var(--additional-sys-light-on-red-container, #B92E36);
                                                text-align: center;
                                            }
                                        }
                                    }



                                    >div:nth-child(3).chip {
                                        @include mixins.row-center-center;
                                        height: 24px;
                                        border-radius: 2px;
                                        background: var(--additional-sys-light-blue-container, #E6E3FF);



                                        >div:nth-child(1).state-layer {
                                            @include mixins.row-center-center;
                                            padding: 6px 10px;
                                            gap: 4px;
                                            align-self: stretch;



                                            >label:nth-child(1).text {
                                                @include text.m-label-small;
                                                color: var(--additional-sys-light-on-blue-container, #2815B9);
                                                text-align: center;
                                            }
                                        }
                                    }
                                }
                            }



                            >div:nth-child(2).frame {
                                @include mixins.row-top-left;
                                gap: 8px;



                                >span:nth-child(1).expired-date {
                                    @include text.m-body-medium;
                                    color: var(--m-sys-light-on-surface-variant, #7A7C84);
                                }



                                >span:nth-child(2)._26-august-2025 {
                                    @include text.m-body-medium;
                                    color: var(--m-sys-light-on-surface, #222432);
                                }
                            }



                            >div:nth-child(3).frame {
                                @include mixins.column-top-left;
                                height: 200px;
                                gap: 8px;
                                align-self: stretch;
                                position: relative;



                                >div:nth-child(1).text {
                                    @include text.m-title-small;
                                    align-self: stretch;
                                    color: var(--m-sys-light-on-surface, #222432);
                                }



                                >p:nth-child(2).develop-responsive-web-and-mob {
                                    @include text.m-body-medium;
                                    align-self: stretch;
                                    color: var(--m-sys-light-on-surface, #222432);
                                    opacity: 0.6;
                                }



                                >div:nth-child(3).rectangle {
                                    width: 510px;
                                    height: 80px;
                                    position: absolute;
                                    bottom: 0;
                                    background: linear-gradient(180deg, rgba(255, 255, 255, 0.00) 0%, #FFF 100%);
                                    left: 0%;
                                    right: unset;
                                    width: 100%;
                                    top: unset;
                                    bottom: 0.0001220703125px;
                                    height: 80px;
                                }
                            }
                        }



                        >div:nth-child(2).frame {
                            @include mixins.row-center-center;
                            width: 160px;
                            height: 40px;
                            border-radius: 100px;
                            background: var(--m-sys-light-primary, #0050F1);
                            position: relative;



                            >div:nth-child(1).state-layer {
                                @include mixins.column-top-left;
                                width: 160px;
                                height: 40px;
                                gap: 10px;
                                position: absolute;
                                left: 0%;
                                right: unset;
                                width: 100%;
                                top: 0%;
                                bottom: unset;
                                height: 100%;
                            }



                            >div:nth-child(2).container {
                                @include mixins.row-center-center;
                                padding: 12px;
                                flex: 1 0 0;
                                align-self: stretch;



                                >div:nth-child(1).frame {
                                    @include mixins.row-center-center;
                                    padding: 0 4px;



                                    >div:nth-child(1).text {
                                        @include text.m-label-medium;
                                        color: var(--m-white, #FFF);
                                        text-align: center;
                                    }
                                }



                                >div:nth-child(2).frame {
                                    width: 20px;
                                    height: 20px;
                                    aspect-ratio: 1/1;
                                }
                            }
                        }
                    }



                    >div:nth-child(2).frame {
                        @include mixins.column-top-left;
                        padding: 40px;
                        gap: 28px;
                        flex: 1 0 0;
                        background: #FFF;



                        >div:nth-child(1).frame {
                            @include mixins.column-top-left;
                            gap: 20px;
                            align-self: stretch;



                            >div:nth-child(1).frame {
                                @include mixins.column-top-left;
                                gap: 8px;
                                align-self: stretch;



                                >h4:nth-child(1).h4-frontend-developer-web-mobi {
                                    @include text.m-title-medium;
                                    align-self: stretch;
                                    color: var(--m-sys-light-on-surface, #222432);
                                }



                                >div:nth-child(2).frame {
                                    @include mixins.row-top-left;
                                    gap: 8px;



                                    >div:nth-child(1).chip {
                                        @include mixins.row-center-center;
                                        height: 24px;
                                        border-radius: 2px;
                                        background: var(--additional-sys-light-green-container, #E1F7ED);



                                        >div:nth-child(1).state-layer {
                                            @include mixins.row-center-center;
                                            padding: 6px 10px;
                                            gap: 4px;
                                            align-self: stretch;



                                            >label:nth-child(1).text {
                                                @include text.m-label-small;
                                                color: var(--additional-sys-light-on-green-container, #0D8D50);
                                                text-align: center;
                                            }
                                        }
                                    }



                                    >div:nth-child(2).chip {
                                        @include mixins.row-center-center;
                                        height: 24px;
                                        border-radius: 2px;
                                        background: var(--additional-sys-light-red-container, #FFE7E9);



                                        >div:nth-child(1).state-layer {
                                            @include mixins.row-center-center;
                                            padding: 6px 10px;
                                            gap: 4px;
                                            align-self: stretch;



                                            >label:nth-child(1).text {
                                                @include text.m-label-small;
                                                color: var(--additional-sys-light-on-red-container, #B92E36);
                                                text-align: center;
                                            }
                                        }
                                    }



                                    >div:nth-child(3).chip {
                                        @include mixins.row-center-center;
                                        height: 24px;
                                        border-radius: 2px;
                                        background: var(--additional-sys-light-blue-container, #E6E3FF);



                                        >div:nth-child(1).state-layer {
                                            @include mixins.row-center-center;
                                            padding: 6px 10px;
                                            gap: 4px;
                                            align-self: stretch;



                                            >label:nth-child(1).text {
                                                @include text.m-label-small;
                                                color: var(--additional-sys-light-on-blue-container, #2815B9);
                                                text-align: center;
                                            }
                                        }
                                    }
                                }
                            }



                            >div:nth-child(2).frame {
                                @include mixins.row-top-left;
                                gap: 8px;



                                >span:nth-child(1).expired-date {
                                    @include text.m-body-medium;
                                    color: var(--m-sys-light-on-surface-variant, #7A7C84);
                                }



                                >span:nth-child(2)._26-august-2025 {
                                    @include text.m-body-medium;
                                    color: var(--m-sys-light-on-surface, #222432);
                                }
                            }



                            >div:nth-child(3).frame {
                                @include mixins.column-top-left;
                                height: 200px;
                                gap: 8px;
                                align-self: stretch;
                                position: relative;



                                >div:nth-child(1).text {
                                    @include text.m-title-small;
                                    align-self: stretch;
                                    color: var(--m-sys-light-on-surface, #222432);
                                }



                                >p:nth-child(2).develop-responsive-web-and-mob {
                                    @include text.m-body-medium;
                                    align-self: stretch;
                                    color: var(--m-sys-light-on-surface, #222432);
                                    opacity: 0.6;
                                }



                                >div:nth-child(3).rectangle {
                                    width: 510px;
                                    height: 80px;
                                    position: absolute;
                                    bottom: 0;
                                    background: linear-gradient(180deg, rgba(255, 255, 255, 0.00) 0%, #FFF 100%);
                                    left: 0%;
                                    right: unset;
                                    width: 100%;
                                    top: unset;
                                    bottom: 0.0001220703125px;
                                    height: 80px;
                                }
                            }
                        }



                        >div:nth-child(2).frame {
                            @include mixins.row-center-center;
                            width: 160px;
                            height: 40px;
                            border-radius: 100px;
                            background: var(--m-sys-light-primary, #0050F1);
                            position: relative;



                            >div:nth-child(1).state-layer {
                                @include mixins.column-top-left;
                                width: 160px;
                                height: 40px;
                                gap: 10px;
                                position: absolute;
                                left: 0%;
                                right: unset;
                                width: 100%;
                                top: 0%;
                                bottom: unset;
                                height: 100%;
                            }



                            >div:nth-child(2).container {
                                @include mixins.row-center-center;
                                padding: 12px;
                                flex: 1 0 0;
                                align-self: stretch;



                                >div:nth-child(1).frame {
                                    @include mixins.row-center-center;
                                    padding: 0 4px;



                                    >div:nth-child(1).text {
                                        @include text.m-label-medium;
                                        color: var(--m-white, #FFF);
                                        text-align: center;
                                    }
                                }



                                >div:nth-child(2).frame {
                                    width: 20px;
                                    height: 20px;
                                    aspect-ratio: 1/1;
                                }
                            }
                        }
                    }
                }



                >div:nth-child(2).frame {
                    @include mixins.row-top-left;
                    gap: 20px;
                    align-self: stretch;



                    >div:nth-child(1).frame {
                        @include mixins.column-top-left;
                        padding: 40px;
                        gap: 28px;
                        flex: 1 0 0;
                        background: #FFF;



                        >div:nth-child(1).frame {
                            @include mixins.column-top-left;
                            gap: 20px;
                            align-self: stretch;



                            >div:nth-child(1).frame {
                                @include mixins.column-top-left;
                                gap: 8px;
                                align-self: stretch;



                                >h4:nth-child(1).h4-frontend-developer-web-mobi {
                                    @include text.m-title-medium;
                                    align-self: stretch;
                                    color: var(--m-sys-light-on-surface, #222432);
                                }



                                >div:nth-child(2).frame {
                                    @include mixins.row-top-left;
                                    gap: 8px;



                                    >div:nth-child(1).chip {
                                        @include mixins.row-center-center;
                                        height: 24px;
                                        border-radius: 2px;
                                        background: var(--additional-sys-light-green-container, #E1F7ED);



                                        >div:nth-child(1).state-layer {
                                            @include mixins.row-center-center;
                                            padding: 6px 10px;
                                            gap: 4px;
                                            align-self: stretch;



                                            >label:nth-child(1).text {
                                                @include text.m-label-small;
                                                color: var(--additional-sys-light-on-green-container, #0D8D50);
                                                text-align: center;
                                            }
                                        }
                                    }



                                    >div:nth-child(2).chip {
                                        @include mixins.row-center-center;
                                        height: 24px;
                                        border-radius: 2px;
                                        background: var(--additional-sys-light-red-container, #FFE7E9);



                                        >div:nth-child(1).state-layer {
                                            @include mixins.row-center-center;
                                            padding: 6px 10px;
                                            gap: 4px;
                                            align-self: stretch;



                                            >label:nth-child(1).text {
                                                @include text.m-label-small;
                                                color: var(--additional-sys-light-on-red-container, #B92E36);
                                                text-align: center;
                                            }
                                        }
                                    }



                                    >div:nth-child(3).chip {
                                        @include mixins.row-center-center;
                                        height: 24px;
                                        border-radius: 2px;
                                        background: var(--additional-sys-light-blue-container, #E6E3FF);



                                        >div:nth-child(1).state-layer {
                                            @include mixins.row-center-center;
                                            padding: 6px 10px;
                                            gap: 4px;
                                            align-self: stretch;



                                            >label:nth-child(1).text {
                                                @include text.m-label-small;
                                                color: var(--additional-sys-light-on-blue-container, #2815B9);
                                                text-align: center;
                                            }
                                        }
                                    }
                                }
                            }



                            >div:nth-child(2).frame {
                                @include mixins.row-top-left;
                                gap: 8px;



                                >span:nth-child(1).expired-date {
                                    @include text.m-body-medium;
                                    color: var(--m-sys-light-on-surface-variant, #7A7C84);
                                }



                                >span:nth-child(2)._26-august-2025 {
                                    @include text.m-body-medium;
                                    color: var(--m-sys-light-on-surface, #222432);
                                }
                            }



                            >div:nth-child(3).frame {
                                @include mixins.column-top-left;
                                height: 200px;
                                gap: 8px;
                                align-self: stretch;
                                position: relative;



                                >div:nth-child(1).text {
                                    @include text.m-title-small;
                                    align-self: stretch;
                                    color: var(--m-sys-light-on-surface, #222432);
                                }



                                >p:nth-child(2).develop-responsive-web-and-mob {
                                    @include text.m-body-medium;
                                    align-self: stretch;
                                    color: var(--m-sys-light-on-surface, #222432);
                                    opacity: 0.6;
                                }



                                >div:nth-child(3).rectangle {
                                    width: 510px;
                                    height: 80px;
                                    position: absolute;
                                    bottom: 0;
                                    background: linear-gradient(180deg, rgba(255, 255, 255, 0.00) 0%, #FFF 100%);
                                    left: 0%;
                                    right: unset;
                                    width: 100%;
                                    top: unset;
                                    bottom: 0.0001220703125px;
                                    height: 80px;
                                }
                            }
                        }



                        >div:nth-child(2).frame {
                            @include mixins.row-center-center;
                            width: 160px;
                            height: 40px;
                            border-radius: 100px;
                            background: var(--m-sys-light-primary, #0050F1);
                            position: relative;



                            >div:nth-child(1).state-layer {
                                @include mixins.column-top-left;
                                width: 160px;
                                height: 40px;
                                gap: 10px;
                                position: absolute;
                                left: 0%;
                                right: unset;
                                width: 100%;
                                top: 0%;
                                bottom: unset;
                                height: 100%;
                            }



                            >div:nth-child(2).container {
                                @include mixins.row-center-center;
                                padding: 12px;
                                flex: 1 0 0;
                                align-self: stretch;



                                >div:nth-child(1).frame {
                                    @include mixins.row-center-center;
                                    padding: 0 4px;



                                    >div:nth-child(1).text {
                                        @include text.m-label-medium;
                                        color: var(--m-white, #FFF);
                                        text-align: center;
                                    }
                                }



                                >div:nth-child(2).frame {
                                    width: 20px;
                                    height: 20px;
                                    aspect-ratio: 1/1;
                                }
                            }
                        }
                    }



                    >div:nth-child(2).frame {
                        @include mixins.column-top-left;
                        padding: 40px;
                        gap: 28px;
                        flex: 1 0 0;
                        background: #FFF;



                        >div:nth-child(1).frame {
                            @include mixins.column-top-left;
                            gap: 20px;
                            align-self: stretch;



                            >div:nth-child(1).frame {
                                @include mixins.column-top-left;
                                gap: 8px;
                                align-self: stretch;



                                >h4:nth-child(1).h4-frontend-developer-web-mobi {
                                    @include text.m-title-medium;
                                    align-self: stretch;
                                    color: var(--m-sys-light-on-surface, #222432);
                                }



                                >div:nth-child(2).frame {
                                    @include mixins.row-top-left;
                                    gap: 8px;



                                    >div:nth-child(1).chip {
                                        @include mixins.row-center-center;
                                        height: 24px;
                                        border-radius: 2px;
                                        background: var(--additional-sys-light-green-container, #E1F7ED);



                                        >div:nth-child(1).state-layer {
                                            @include mixins.row-center-center;
                                            padding: 6px 10px;
                                            gap: 4px;
                                            align-self: stretch;



                                            >label:nth-child(1).text {
                                                @include text.m-label-small;
                                                color: var(--additional-sys-light-on-green-container, #0D8D50);
                                                text-align: center;
                                            }
                                        }
                                    }



                                    >div:nth-child(2).chip {
                                        @include mixins.row-center-center;
                                        height: 24px;
                                        border-radius: 2px;
                                        background: var(--additional-sys-light-red-container, #FFE7E9);



                                        >div:nth-child(1).state-layer {
                                            @include mixins.row-center-center;
                                            padding: 6px 10px;
                                            gap: 4px;
                                            align-self: stretch;



                                            >label:nth-child(1).text {
                                                @include text.m-label-small;
                                                color: var(--additional-sys-light-on-red-container, #B92E36);
                                                text-align: center;
                                            }
                                        }
                                    }



                                    >div:nth-child(3).chip {
                                        @include mixins.row-center-center;
                                        height: 24px;
                                        border-radius: 2px;
                                        background: var(--additional-sys-light-blue-container, #E6E3FF);



                                        >div:nth-child(1).state-layer {
                                            @include mixins.row-center-center;
                                            padding: 6px 10px;
                                            gap: 4px;
                                            align-self: stretch;



                                            >label:nth-child(1).text {
                                                @include text.m-label-small;
                                                color: var(--additional-sys-light-on-blue-container, #2815B9);
                                                text-align: center;
                                            }
                                        }
                                    }
                                }
                            }



                            >div:nth-child(2).frame {
                                @include mixins.row-top-left;
                                gap: 8px;



                                >span:nth-child(1).expired-date {
                                    @include text.m-body-medium;
                                    color: var(--m-sys-light-on-surface-variant, #7A7C84);
                                }



                                >span:nth-child(2)._26-august-2025 {
                                    @include text.m-body-medium;
                                    color: var(--m-sys-light-on-surface, #222432);
                                }
                            }



                            >div:nth-child(3).frame {
                                @include mixins.column-top-left;
                                height: 200px;
                                gap: 8px;
                                align-self: stretch;
                                position: relative;



                                >div:nth-child(1).text {
                                    @include text.m-title-small;
                                    align-self: stretch;
                                    color: var(--m-sys-light-on-surface, #222432);
                                }



                                >p:nth-child(2).develop-responsive-web-and-mob {
                                    @include text.m-body-medium;
                                    align-self: stretch;
                                    color: var(--m-sys-light-on-surface, #222432);
                                    opacity: 0.6;
                                }



                                >div:nth-child(3).rectangle {
                                    width: 510px;
                                    height: 80px;
                                    position: absolute;
                                    bottom: 0;
                                    background: linear-gradient(180deg, rgba(255, 255, 255, 0.00) 0%, #FFF 100%);
                                    left: 0%;
                                    right: unset;
                                    width: 100%;
                                    top: unset;
                                    bottom: 0.0001220703125px;
                                    height: 80px;
                                }
                            }
                        }



                        >div:nth-child(2).frame {
                            @include mixins.row-center-center;
                            width: 160px;
                            height: 40px;
                            border-radius: 100px;
                            background: var(--m-sys-light-primary, #0050F1);
                            position: relative;



                            >div:nth-child(1).state-layer {
                                @include mixins.column-top-left;
                                width: 160px;
                                height: 40px;
                                gap: 10px;
                                position: absolute;
                                left: 0%;
                                right: unset;
                                width: 100%;
                                top: 0%;
                                bottom: unset;
                                height: 100%;
                            }



                            >div:nth-child(2).container {
                                @include mixins.row-center-center;
                                padding: 12px;
                                flex: 1 0 0;
                                align-self: stretch;



                                >div:nth-child(1).frame {
                                    @include mixins.row-center-center;
                                    padding: 0 4px;



                                    >div:nth-child(1).text {
                                        @include text.m-label-medium;
                                        color: var(--m-white, #FFF);
                                        text-align: center;
                                    }
                                }



                                >div:nth-child(2).frame {
                                    width: 20px;
                                    height: 20px;
                                    aspect-ratio: 1/1;
                                }
                            }
                        }
                    }
                }
            }
        }
    }



    >section.faqs {
        @include mixins.row-center-center;
        gap: 10px;
        align-self: stretch;



        >div:nth-child(1).container {
            @include mixins.column-top-left;
            max-width: 1200px;
            padding: 120px 0 160px 0;
            gap: 60px;
            flex: 1 0 0;



            >div:nth-child(1).frame {
                @include mixins.column-top-left;
                gap: 24px;
                align-self: stretch;



                >h2:nth-child(1).faqs {
                    @include text.m-headline-large;
                    align-self: stretch;
                    color: var(--m-sys-light-on-surface, #222432);
                }



                >div:nth-child(2).frame {
                    @include mixins.row-center-center;
                    width: 120px;
                    height: 4px;
                    background: var(--m-sys-light-outline-variant, #EBECF3);



                    >div:nth-child(1).rectangle {
                        flex: 1 0 0;
                        align-self: stretch;
                        background: #0050F1;
                    }



                    >div:nth-child(2).rectangle {
                        flex: 1 0 0;
                        align-self: stretch;
                        background: #0050F1;
                    }



                    >div:nth-child(3).rectangle {
                        flex: 1 0 0;
                        align-self: stretch;
                        background: #D9D9D9;
                    }
                }
            }



            >div:nth-child(2).frame {
                @include mixins.column-top-left;
                gap: 1px;
                align-self: stretch;
                background: var(--m-sys-light-outline-variant, #EBECF3);



                >div:nth-child(1).frame {
                    @include mixins.row-top-left;
                    padding: 24px 20px 24px 28px;
                    gap: 10px;
                    align-self: stretch;
                    background: var(--m-sys-light-surface, #FFF);



                    >div:nth-child(1).frame {
                        @include mixins.column-top-left;
                        gap: 16px;
                        flex: 1 0 0;



                        >h4:nth-child(1).what-are-the-working-hours-and {
                            @include text.m-title-small;
                            max-width: 960px;
                            align-self: stretch;
                            color: var(--m-sys-light-on-surface, #222432);
                        }
                    }



                    >div:nth-child(2).caladd {
                        width: 24px;
                        height: 24px;
                        aspect-ratio: 1/1;



                        >div:nth-child(1).vector {
                            width: 13px;
                            height: 13px;
                            flex-shrink: 0;
                            fill: var(--m-sys-light-on-surface, #222432);
                        }
                    }
                }



                >div:nth-child(2).frame {
                    @include mixins.row-top-left;
                    padding: 24px 20px 24px 28px;
                    gap: 10px;
                    align-self: stretch;
                    background: var(--m-sys-light-surface, #FFF);



                    >div:nth-child(1).frame {
                        @include mixins.column-top-left;
                        gap: 16px;
                        flex: 1 0 0;



                        >h4:nth-child(1).what-is-the-working-culture-li {
                            @include text.m-title-small;
                            max-width: 960px;
                            align-self: stretch;
                            color: #121C44;
                        }



                        >p:nth-child(2).we-embrace-a-flexible-and-open {
                            @include text.m-body-medium;
                            max-width: 960px;
                            align-self: stretch;
                            color: var(--m-sys-light-on-surface-variant, #7A7C84);
                        }
                    }



                    >div:nth-child(2).calsubstract {
                        width: 24px;
                        height: 24px;
                        aspect-ratio: 1/1;



                        >div:nth-child(1).vector {
                            width: 13px;
                            height: 1.5px;
                            flex-shrink: 0;
                            fill: var(--m-sys-light-on-surface, #222432);
                        }
                    }
                }



                >div:nth-child(3).frame {
                    @include mixins.row-top-left;
                    padding: 24px 20px 24px 28px;
                    gap: 10px;
                    align-self: stretch;
                    background: var(--m-sys-light-surface, #FFF);



                    >div:nth-child(1).frame {
                        @include mixins.column-top-left;
                        gap: 16px;
                        flex: 1 0 0;



                        >h4:nth-child(1).what-standards-or-expectations {
                            @include text.m-title-small;
                            max-width: 960px;
                            align-self: stretch;
                            color: #121C44;
                        }
                    }



                    >div:nth-child(2).caladd {
                        width: 24px;
                        height: 24px;
                        aspect-ratio: 1/1;



                        >div:nth-child(1).vector {
                            width: 13px;
                            height: 13px;
                            flex-shrink: 0;
                            fill: var(--m-sys-light-on-surface, #222432);
                        }
                    }
                }



                >div:nth-child(4).frame {
                    @include mixins.row-top-left;
                    padding: 24px 20px 24px 28px;
                    gap: 10px;
                    align-self: stretch;
                    background: var(--m-sys-light-surface, #FFF);



                    >div:nth-child(1).frame {
                        @include mixins.column-top-left;
                        gap: 16px;
                        flex: 1 0 0;



                        >h4:nth-child(1).what-is-the-recruitment-proces {
                            @include text.m-title-small;
                            max-width: 960px;
                            align-self: stretch;
                            color: #121C44;
                        }
                    }



                    >div:nth-child(2).caladd {
                        width: 24px;
                        height: 24px;
                        aspect-ratio: 1/1;



                        >div:nth-child(1).vector {
                            width: 13px;
                            height: 13px;
                            flex-shrink: 0;
                            fill: var(--m-sys-light-on-surface, #222432);
                        }
                    }
                }
            }
        }
    }
}