/**/






$global: (
    key-colors-primary: #0050F1,
    key-colors-badge: #FF3737,
    key-colors-secondary: #10ACF5,
    key-colors-tertiary: #5AE2F2
);

$light-theme: (
    primary: #0050F1,
    on-primary: #FFFFFF,
    primary-container: #F5F8FE,
    on-primary-container: #0048D9
);

$dark-theme: (
    primary: #4D87FF,
    on-primary: #002780,
    primary-container: #2B324C,
    on-primary-container: #82ABFF
);